[Desktop Entry]
Type=Application
Name=Open Yahtzee
GenericName=Yahtzee
Comment=The classic dice game Yahtzee
Exec=openyahtzee
TryExec=openyahtzee
Icon=openyahtzee
Terminal=false
Categories=Game;BoardGame;
Keywords=dice;board;yahtzee;
