Source: openyahtzee
Section: games
Priority: optional
Maintainer: Guy Rutenberg <guyrutenberg@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 cmake (>= 3.16),
 libwxgtk3.2-dev,
 gettext,
 librsvg2-bin,
Standards-Version: 4.7.2
Homepage: https://www.openyahtzee.org/
Vcs-Git: https://github.com/guyru/openyahtzee.git
Vcs-Browser: https://github.com/guyru/openyahtzee

Package: openyahtzee
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: classic dice game of Yahtzee
 Open Yahtzee is a version of the classic dice game
 Yahtzee. Also known as Knubbel or Pasch.
 .
 Open Yahtzee is built to be a full-featured Yahtzee
 implementation, with a user-friendly interface
 including animated dice rolls.
